# Ignore virtual environment
.venv/

# Ignore system files
.DS_Store

# Ignore uploads (user uploaded images)
Flask Application/uploads/

# Ignore model weights and archives
*.h5
model_weights/
archive.zip
chest_xray/

# Ignore temporary / cache files
__pycache__/
*.pyc
*.pyo
*.tmp
